body 
{
    margin: 0 auto 0 auto;
    padding: 0;
    background-image: url('/2LG_Gradient.jpg');
    background-repeat: repeat-x;
    background-color: #B3D3E2;
    font-family: Helvetica;
    text-align: center;
}

div.Page
{
    margin: 20px auto 50px auto;
    padding: 0 0 30px 0;
    width: 860px;
    background-color: White;
    color: Black;
    font-size: 0.9em;
}

.AlignCenter
{
    text-align: center;
}

div.ErrorDiv
{
    color: Red;
    text-align: center;
    font-size: 1.0em;
    font-weight: bold;
}

div.Title
{
    margin-top: 20px;
    font-size: 200%;
    font-weight: bold;
    color: #005500;
}

div.TitleInfo
{
    margin-top: 20px;
    font-size: 150%;
    font-weight: bold;
}

div.Overview
{
    margin: 0px auto 0px auto;
    width: 500px;
    text-align: left;
}

table.Entry
{
    margin: 10px auto 10px auto;
    vertical-align: middle;
    text-align: left;
}

td.EntryHeader
{
    color: #696969;
    text-align: right;
}

td.EntryTitle
{
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
}

td.EntrySection
{
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 160%;
    color: #336F97;
}

input.entryTextBox
{
    width: 250px;
    border: 1px solid #ccc;
}

input.entryDropDownList
{
    border: 1px solid #ccc;
}