table.ContractorTable
{
    margin: 10px auto 0px auto;
    border-collapse: collapse;
}

table.ContractorTable td
{
    padding: 2px;
}

.ContractorRow
{
    display: none;
}

.ContractorEntry
{
    text-align: center;
    width: 60px;
}

.ExtraCell
{
    font-weight: normal;
}