
div.GiftCardSubTitle
{
    margin: 5px auto 0px auto;
    text-align: center;
    font-size: 120%;
    color: Black;
}

table.GiftCards
{
    margin: 20px auto 0px auto;
    text-align: right;
    border-collapse: collapse;
    border: 2px solid #ccc;
}

table.GiftCards td
{
    padding: 6px;
}

.GiftCardsTextBox
{
    width: 250px;
    border: 1px solid #ccc;
    text-align: center;
}

.GiftCardsDropDown
{
    width: 252px;
    border: 1px solid #ccc;
}